@import url('https://fonts.googleapis.com/css?family=Jura:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700&display=swap');

/*--------------Text--------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Jura", sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.general-text {
    font-family: "Jura", sans-serif;
    font-size: 15px;
    font-weight:normal;
}

.general-sub {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: #98CE00;
}

/*--------------Header--------------*/

.logo {
   width: 195px;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #000!important;
    border: 0;
    
}

.navbar .navbar-toggler {
    margin: 0!important;
    padding: 0!important;
}

.navbar-brand{
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}

.nav-item{
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-item a{
    font-family: "Jura", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}

.navbar-nav > .active > a {
  color: #8fd400!important;
      
}

.nav-item > a:hover {
  color: #98CE00!important;
}

/*--------------Footer--------------*/

footer {
    background-color: #343a40;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.general-sub {
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-unstyled li a{
    color: #fff;
    height: 120px;
    text-decoration: none;
}

.list-unstyled li a:hover{
    color: #98CE00;
}

.opening-hours .days {
    float: left;
    margin-right: 10px;
    
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #98CE00;
}

/*--------------Media Queries--------------*/
@media only screen  and (max-width : 1200px) {
    .nav-item {
        margin-left: 8px;
        margin-right: 8px;
        
    }
}

@media screen and (max-width: 992px) {
     .nav-item {
        
        margin-left: 2px;
        margin-right: 2px;
        padding: 0;
    }
    .nav-item a {
        font-size: 16px;
    }
}

/*@media screen and (max-width: 576px){*/
/*    .footer-item{*/
/*        text-align: center;*/
/*    }*/
/*}*/
/*.opening-hours .list-unstyled{*/
/*    list-style: */
/*}*/

/*.opening-hours .days{*/
/*    text-align: right;*/
/*}*/

/*.opening-hours .hours{*/
/*    text-align: left;*/
/*}*/
